@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSans';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/NotoSans/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSans';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/NotoSans/NotoSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSans';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/NotoSans/NotoSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSans';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/NotoSans/NotoSans-Bold.ttf') format('truetype');
}
